# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Languages for Data Scientists
- Libraries for Data Scientists
- Tools for Data Scientists
- Arithemitc Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries use by Data Scientists include:

1. Numpy (Data Manipulation)
2. Pandas (Data Manipulation)
3. Seaborn (Data Visualization)
4. Matplotlib (Data Visualization)
5. Scikit-Learn (Machine Learning)
6. TensorFlow (Deep Learning)

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Apache Airflow |
| Apache Kafka |
| Apache Atlas |

### Below are a few examples of evaluating arithemitc expressions in Python

This a simple arithemitc expression to multiply then add integers.

In [1]:
print((3 * 4) + 5)

17

In [9]:
minutes = 200
hours = minutes / 60

print(f"Hours: {hours:.2f}")

Hours: 3.33

## Autor
Leonardo de Jesus Andrade